<% provide(:title, "Log in") %>
<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Log In</h3>
        <div class="login-form-wrapper">
            <%= form_for(:session, url: login_path) do |f|%>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control login-field-wrapper' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control login-field-wrapper" %>
            <%= f.submit "Log in", class: "btn btn-primary login-field-wrapper" %>
          <% end %>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div> <!-- End of login-form-wrapper div log -->
      </div>
    </div>
  </div>
</div>