<% provide(:title, "Edit user")%>
<% provide(:current_user_page, "Settings")%>

 <%= render partial: "user_header" %>
<h3 id="profile-edit-title"><span class="profile-header-underline">Update your profile</span></h3>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
            <div class="row profile-edit-fields">
                <div class="col-md-4">
                    <%= f.label :firstname %>
                    <%= f.text_field :firstname, class: 'form-control' %>
                </div>
                <div class="col-md-4">
                    <%= f.label :lastname %>
                    <%= f.text_field :lastname, class: 'form-control' %>
                </div>
            </div>
            <div class="row profile-edit-fields">
                <div class="col-md-6">
                    <%= f.label :email, 'Email Address' %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
            </div>
            <div class="row profile-edit-fields">
                <div class="col-md-4">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: 'form-control' %>
                </div>
                <div class="col-md-4">
                  <%= f.label :password_confirmation, "Password Confirmation" %>
                  <%= f.password_field :password_confirmation, class: 'form-control' %>     
                </div>
            </div>
            <div class="row profile-edit-fields">
                <div class="col-md-3 col-md-offset-3">
                    <%= f.submit "Save changes", class: 'btn btn-info' %>
                </div>
             </div>
            <% end %>
        </div>
    </div>
</div> <!-- End of class container div block -->