<% provide(:title, 'Sign Up')%>
<div class="signup-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Sign Up</h3>
        <div class="signup-form-wrapper">
          <%= form_for(@user) do |f|%>
          <%= render 'shared/error_messages' %>
            <%= f.label :firstname, "First Name" %>
            <%= f.text_field :firstname %>
            <%= f.label :lastname, "Last Name" %>
            <%= f.text_field :lastname %>
            <%= f.label :email, "Email Address" %>
            <%= f.text_field :email %>
            <%= f.label :password, "Password" %>
            <%= f.password_field :password %>
            <%= f.label :password_confirmation, "Password Comfirmation" %>
            <%= f.password_field :password_confirmation %>
            <%= f.submit "Create my account", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
