<% provide(:title, "User profile")%>
<% provide(:current_user_page, "Profile")%>

 <%= render partial: "user_header" %>
<div class="container">
  <h3 id="case-status-title"><span class="profile-header-underline">Cases Status</span></h3>
  <div class="row">
    <div class="col-md-12">
      <table class="case-table-container">
        <tr>
          <th>Case ID</th>
          <th>Category</th>
          <th>Progress</th>
          <th>Action</th>
          <th>Delete</th>
        </tr>

<% @fetched_cases_results.each do |k, c|%>
        <tr class="individual-case-bar">
          <td><%= c['case_id'] %> </td>
          <td><%= c['application_type']%> </td>
          <td>
             <progress_bar class="progress">
              <sub_progress_bar class="progress-bar progress-bar-success" role="progressbar" 
               style="width:35%" ng-show="<%= c['status_questionnaire']%>">
                Questionnaire
              </sub_progress_bar>
              <sub_progress_bar class="progress-bar progress-bar-warning" role="progressbar" 
               style="width:35%" ng-show="<%= c['status_filling']%>">
                Form Filling
              </sub_progress_bar>
              <sub_progress_bar class="progress-bar progress-bar-danger" role="progressbar" 
               style="width:15%" ng-show="<%= c['status_payment']%>">
                Payment
              </sub_progress_bar>
              <sub_progress_bar class="progress-bar progress-bar-success" role="progressbar" 
               style="width:15%" ng-show="<%=  c['status_complete']%>">
                Complete
              </sub_progress_bar>
             </ progress_bar>
           </td>
          <td>
            <%= link_to_if(!c['case_active'],  "Immigration Package", c['current_url'], :target => "_blank") do
       link_to("Continue",c['current_url'] )
            end %>
          </td>
          <td>
            <%= link_to "Delete", delete_case_path(c['id'])%>
          </td>
        </tr>
<% end %>
      </table>
    </div>
  </div>
</div>



