<h1><%= @first_name %> <%= @last_name %>'s Cases</h1>
<style>
 
#case_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 700px;
}
.progress_status {
  display: inline;
  padding: 0px 30px;
}
</style>
<ul id="case_list" >
  <li class="progress_status"> Case Id  </li>
  <li class="progress_status"> Application Type </li>
   <li class="progress_status"> Progress Bar </li>
  <li class="progress_status"> Action </li>
</ul>
<% @fetched_cases_results.each do |k, c|%>
<ul id="case_list" >
  <li class="progress_status"><%= c['case_id'] %>  </li>
  <li class="progress_status"><%= c['application_type']%> </li>
  <li class="progress_status">
    <div style="width: 450px">
   <progress_bar class="progress">
    <sub_progress_bar class="progress-bar progress-bar-success" role="progressbar" 
     style="width:35%" ng-show="<%= c['status_questionnaire']%>">
      Questionnaire
    </sub_progress_bar>
    <sub_progress_bar class="progress-bar progress-bar-warning" role="progressbar" 
     style="width:35%" ng-show="<%= c['status_filling']%>">
      Form Filling
    </sub_progress_bar>
    <sub_progress_bar class="progress-bar progress-bar-danger" role="progressbar" 
     style="width:15%" ng-show="<%= c['status_payment']%>">
      Payment
    </sub_progress_bar>
    <sub_progress_bar class="progress-bar progress-bar-success" role="progressbar" 
     style="width:15%" ng-show="<%=  c['status_complete']%>">
      Complete
    </sub_progress_bar>
   </ progress_bar>
   </div>
  </li>
  <li class="progress_status">
    <!-- This will set name of link based on case active status -->
    <%= link_to_if(!c['case_active'],  "Immigration Package", c['current_url']) do
       link_to("Continue",c['current_url'] )
    end %>
  </li>
</ul>
<% end %>




