<h1>Credit Card Transaction Settings</h1>

<table style="width: 600px;">
  <thead>
    <tr>
      <th>Description</th>
      <th>Fee</th>
    </tr>
  </thead>
    <tfoot>
      <tr>
        <td> Total </td>
        <td><%= @total_fee %></td>
      </tr>
    </tfoot>

    <% @fees.each do |fee|%>
    <tr>
      <td><%= fee[:description] %></td>
      <td><%= fee[:fee]%></td>
    </tr>
    <% end %>
</table>
<div style="clear: both;"></div>
Current Case Id: <%= @current_case_id %>

<%= form_tag form_payments_path do %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Peter's Speakeasy"
          data-description="Immigration Application"
          data-amount="120000">
      </script>

  <% end %>
