<%= form_for(@form_case , url: forms_path, method: :post )  do |f| %>
<%= hidden_field_tag(:current_case_id, @current_case_id) %>
<%= hidden_field_tag(:current_user_id, @current_user_id) %>
  <h3>Applicant</h3>
  <%= f.fields_for :general_information do |g| %>
  <p>First Name: <%= g.text_field :general_applicant_first_name %> Last Name: <%= g.text_field :general_applicant_first_name %> Middle Name: <%= g.text_field :general_applicant_middle_name %> Other Name: <%= g.text_field :general_applicant_other_name %></p>
  <h3>Address</h3>
  <p>C/O: <%= g.text_field :general_applicant_co %> </p>
  <p>Street Address: <%= g.text_field :general_applicant_street%> Apt/St: <%= g.text_field :general_applicant_apt_suit%>
  City: <%= g.text_field :general_applicant_city%> State: <%= g.text_field :general_applicant_state %> 
    Zip Code: <%= g.text_field :general_applicant_zip_code %> Country: <%= g.text_field :general_applicant_country %>  </p>
  <p>Phone: <%= g.text_field :general_applicant_phone %></p>
  <h3>Other Information</h3>
  <p>Date of Birth: <%= g.text_field :general_applicant_dob %></p>
  <p>Town/City of Birth: <%= g.text_field :general_applicant_pob_town %> State/Province of Birth: <%= g.text_field :general_applicant_pob_state %> Country of Birth: <%= g.text_field :general_applicant_pob_country %> </p>
  <h3>Gender</h3>
  <p><%= check_box_tag(:general_applicant_gender_male) %> Male <%= check_box_tag(:general_applicant_gender_female) %> Female </p>
  <h3>Marital Status</h3>
  <p><%= check_box_tag(:general_applicant_marital_status_single) %> Single <%= check_box_tag(:general_applicant_marital_status_married) %> Married 
    <%= check_box_tag(:general_applicant_marital_status_widowed) %> Widowed 
    <%= check_box_tag(:general_applicant_marital_status_divorced) %> Divorced
  </p>
  <h3>Immigration Information</h3>
  <p>
    Social Security Number: <%= g.text_field :general_applicant_ssn %> Alien Number: <%= g.text_field :general_applicant_alien_number %>
    I-94: <%= g.text_field :general_applicant_i_94 %>  Date of Last Arrival: <%= g.text_field :general_applicant_date_of_last_arrival %> </p>
    <p>
    USCIS Status: <%= g.text_field :general_applicant_uscis_status %> Expiration Date: <%= g.text_field :general_applicant_status_expiration_date %>   Visa Number: <%= g.text_field :general_applicant_visa_number %> 
  </p>
  <p>
   Place of Last Entry:<%= g.text_field :general_applicant_place_of_last_entry %> Consulate: <%= g.text_field :general_applicant_consulate %>
    Entry of Inspection: <%= g.text_field :general_applicant_entry_inspection %>
  </p>

  <h3>Dependants Information</h3>
   
  <h4>Spouse</h4>
  <p> 
  First Name: <%= g.text_field :general_applicant_spouse_first_name %> Last Name: <%= g.text_field :general_applicant_spouse_last_name %>
  Middle Name: <%= g.text_field :general_applicant_spouse_middle_name %>
  </p>
  <p>
  Date of Birth of your spouse: <%= g.text_field :general_applicant_spouse_dob %>
  Country of Birth of your spouse: <%= g.text_field :general_applicant_spouse_cob %>
  </p>
  <p>
  Alien Number of your spouse: <%= g.text_field :general_applicant_spouse_a_number %>
  Country of Birth of your spouse: <%= g.text_field :general_applicant_spouse_cob %>
  Application of your spouse: <%= g.text_field :general_applicant_spouse_application %>
  </p>
  <p>
   Relationship: <%= g.text_field :general_applicant_spouse_relationship %>
  </p>
  <p>
  <h4>Marriage</h4>
  Date of Present Marriage: <%= g.text_field :general_applicant_date_present_marriage %>
  Place of Present Marriage: <%= g.text_field :general_applicant_place_present_marriage %>
  </p>

  <h4>Children</h4>
  <h5>Child 1</h5>
  <p>
  First Name: <%= g.text_field :general_applicant_child_first_name_1 %> Last Name: <%= g.text_field :general_applicant_child_last_name_1 %>
  Middle Name: <%= g.text_field :general_applicant_child_middle_name_1 %> 
  </p>
  <p>
  Child Relationship: <%= g.text_field :general_applicant_child_relationship_1 %> Date of Birth <%= g.text_field :general_applicant_child_dob_1 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_1 %>
  </p>
  <p>
  Alien Number: <%= g.text_field :general_applicant_child_a_number_1 %> Application <%= g.text_field :general_applicant_child_application_1 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_1 %>
  </p>
  <h5>Child 2</h5>
  <p>
  First Name: <%= g.text_field :general_applicant_child_first_name_2 %> Last Name: <%= g.text_field :general_applicant_child_last_name_2 %>
  Middle Name: <%= g.text_field :general_applicant_child_middle_name_2 %> 
  </p>
  <p>
  Child Relationship: <%= g.text_field :general_applicant_child_relationship_2 %> Date of Birth <%= g.text_field :general_applicant_child_dob_2 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_2 %>
  </p>
  <p>
  Alien Number: <%= g.text_field :general_applicant_child_a_number_2 %> Application <%= g.text_field :general_applicant_child_application_2 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_2 %>
  </p>
  <h5>Child 3</h5>
  <p>
  First Name: <%= g.text_field :general_applicant_child_first_name_3 %> Last Name: <%= g.text_field :general_applicant_child_last_name_3 %>
  Middle Name: <%= g.text_field :general_applicant_child_middle_name_3 %> 
  </p>
  <p>
  Child Relationship: <%= g.text_field :general_applicant_child_relationship_3 %> Date of Birth <%= g.text_field :general_applicant_child_dob_3 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_3 %>
  </p>
  <p>
  Alien Number: <%= g.text_field :general_applicant_child_a_number_3 %> Application <%= g.text_field :general_applicant_child_application_3 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_3 %>
  </p>
    <h5>Child 4</h5>
  <p>
  First Name: <%= g.text_field :general_applicant_child_first_name_4 %> Last Name: <%= g.text_field :general_applicant_child_last_name_4 %>
  Middle Name: <%= g.text_field :general_applicant_child_middle_name_4 %> 
  </p>
  <p>
  Child Relationship: <%= g.text_field :general_applicant_child_relationship_4 %> Date of Birth <%= g.text_field :general_applicant_child_dob_4 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_4 %>
  </p>
  <p>
  Alien Number: <%= g.text_field :general_applicant_child_a_number_4 %> Application <%= g.text_field :general_applicant_child_application_4 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_4 %>
  </p>
      <h5>Child 5</h5>
  <p>
  First Name: <%= g.text_field :general_applicant_child_first_name_5 %> Last Name: <%= g.text_field :general_applicant_child_last_name_5 %>
  Middle Name: <%= g.text_field :general_applicant_child_middle_name_5 %> 
  </p>
  <p>
  Child Relationship: <%= g.text_field :general_applicant_child_relationship_5 %> Date of Birth <%= g.text_field :general_applicant_child_dob_5 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_5 %>
  </p>
  <p>
  Alien Number: <%= g.text_field :general_applicant_child_a_number_5 %> Application <%= g.text_field :general_applicant_child_application_5 %> Coutry of Birth: <%= g.text_field :general_applicant_child_cob_5 %>
  </p>
  <% end %>

<hr>
<h4>I-130 Information<h4>
<%= f.fields_for :i130 do |i130| %>
<p>
Did you gain permanent residence through adoption?<br>
<%= i130.radio_button_tag(:i130_adoption, "yes") %> Yes <%= i130.radio_button_tag(:i130_adoption, "no") %> No
</p>
<p>
Are you related by adoption?<br>
<%= i130.radio_button_tag(:i130_residence_through_adoption, "yes") %> Yes <%= i130.radio_button_tag(:i130_residence_through_adoption, "no") %> No
</p>

<h4>Sponsor Information</h4>
<p>
First Name: <%= i130.text_field :i130_sponsor_first_name %> Last Name: <%= i130.text_field :i130_sponsor_last_name %> 
Middle Name: <%= i130.text_field :i130_sponsor_middle_name %> Other Name: <%= i130.text_field :i130_sponsor_other_name %>
</p>
<h4>Address</h4>
<p>
  CO: <%= i130.text_field :i130_sponsor_co %>
</p>
<p>
Street: <%= i130.text_field :i130_sponsor_street %> Apt/Ste: <%= i130.text_field :i130_sponsor_apt_suit %> 
</p>
<p>
City: <%= i130.text_field :i130_sponsor_city %> State: <%= i130.text_field :i130_sponsor_state %> Zip Code: <%= i130.text_field :i130_sponsor_zip_code %>  
</p>
<p>
Telephone: <%= i130.text_field :i130_sponsor_phone %> 
</p>
<p>
 Date of Birth: <%= i130.text_field :i130_sponsor_dob%> 
 Town/City of Birth: <%= i130.text_field :i130_sponsor_pob_town%> 
 State/Province of Birth: <%= i130.text_field :i130_sponsor_pob_state%> 
 Country of Birth: <%= i130.text_field :i130_sponsor_pob_country%> 
</p>
<p>
  Nationality: <%= i130.text_field :i130_sponsor_nationality %> 
</p>
<p>
  <%= check_box_tag(:i130_sponsor_gender_male) %> Male <%= check_box_tag(:i130_sponsor_gender_female) %> Female 
</p>
<p>
<h4>Marital Status</h4>
  <%= check_box_tag(:i130_sponsor_marital_status_married) %> Married <%= check_box_tag(:i130_sponsor_marital_status_widowed) %> Widowed 
  <%= check_box_tag(:i130_sponsor_marital_status_single) %> Single <%= check_box_tag(:i130_sponsor_marital_status_divorced) %> Divorced
</p>
<h4>Other Information</h4>
<p>
  Social Security Number: <%= i130.text_field :i130_sponsor_ssn %> 
  Alien Registration Number: <%= i130.text_field :i130_sponsor_a_registration_number %> 
</p>
<h4>Marriage</h4>
<p>
Date of present marriage: <%= i130.text_field :i130_sponsor_date_of_present_marriage %> 
Place of present marriage: <%= i130.text_field :i130_sponsor_place_of_present_marriage %>
</p>
<h4>Previous Spouse</h4>
<p>
Name of previous spouse: <%= i130.text_field :i130_sponsor_name_of_prior_spouse %>
End date of previous marriage: <%= i130.text_field :i130_sponsor_date_of_end_of_prior_marriage %>
</p>
<h4>Citizenship</h4>
<p>
<%= check_box_tag(:i130_sponsor_citizenship_birth) %> Citizenship by birth
<%= check_box_tag(:i130_sponsor_citizenship_naturalization) %> Citizenship by naturalization
</p>
<h4>Naturalization Information</h4>
<p>
Naturalization Number: <%= i130.text_field(:i130_sponsor_naturalization_number) %> 
Naturalization Place of Issuance: <%= i130.text_field(:i130_sponsor_naturalization_place_of_issuance) %> 
</p>
<h4>Permanent Residence</h4>
<p>
Date of admission: <%= i130.text_field(:i130_sponsor_pr_date_of_admission) %> 
Place of admission: <%= i130.text_field(:i130_sponsor_pr_place_of_admission) %> 
Class of admission: <%= i130.text_field(:i130_sponsor_pr_class_of_admission) %> 
</p>
<h4>Sponsored relative's residency and address information</h4>
<p>
Sponsored relative's intended residency's city: <%= i130.text_field(:i130_sponsored_intended_residence_city) %> 
Sponsored relative's intended residency's state: <%= i130.text_field(:i130_sponsored_intended_residence_state) %> 
Sponsored relative's full address abroad: <%= i130.text_field(:i130_sponsored_full_address_abroad) %> 
</p>

<h4>Sponsored relative's native language information</h4>
<p>
Sponsored relative's full address in native language: <%= i130.text_field(:i130_sponsored_full_address_native_language) %> 
Sponsored relative's name in native language: <%= i130.text_field(:i130_sponsored_name_native_language) %> 
</p>
<% end %>

<% if @i765_option === true %>
<hr>
<h4>I765 Employment Authorization Application</h4>
  <%= f.fields_for :i765 do |i765| %>
  <p>
  I am applying for:<br>
  <%= i765.check_box_tag(:i765_application_employment) %> New Employment <br> 
   <%= i765.check_box_tag(:i765_application_replacement) %> Replacement <br> 
   <%= i765.check_box_tag(:i765_application_renew) %> Renewal 
 </p>
  <p>
   Have you ever before applied for employment authorization from USCIS?<br>
     <%= i765.radio_button_tag(:i765_previous_application, "yes") %> Yes
     <%= i765.radio_button_tag(:i765_previous_application, "no") %>  No
  </p>
  <p>
   Which UCSIS office did you file and what date?<br>
   USCIS Office: <%= i765.text_field(:i765_office)%><br><br>
   Date of filing: <%= i765.text_field(:i765_date_of_previous_application)%><br><br>
   Result of filing: <%= i765.text_field(:i765_result_of_previous_application)%>


  </p>
  <% end %>
<% end %>

  <p>
  <%= f.submit %>
  </p>
<% end %>