<!DOCTYPE html>
<html>
<head>
  <title> AmeriDirect | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
  <script src="https://code.angularjs.org/1.3.9/angular-cookies.js"></script>   
  <%= csrf_meta_tags %>
</head>
<body ng-app="formApp">
  <header class="header">
    <%= render partial: "/header/header" %>
  </header>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
  <%if @home_page_flag %>

    <home-image></home-image>
  <% end %>
  <section class="container">
    <%= yield %>
  </section>
</body>
</html>
